Repository skloresurs/my-skloresurs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f mo --fix, prettier --write

feat: 🎸 Added code description to project
  src/app/(...logged-in)/projects/[id]/page.tsx
  src/types/projects/Project.ts
Due: eslint -f mo --fix

fix: 🐛 Table size
  src/app/(...logged-in)/projects/[id]/[agent]/page.tsx
Due: eslint -f mo --fix

feat: 🎸 Added all message to projects
  src/app/(...logged-in)/projects/[id]/page.tsx
  src/app/api/projects/[id]/route.ts
Due: eslint -f mo --fix

feat: 🎸 Project filters
  .vscode/launch.json
  biome.json
  src/app/api/projects/route.ts
  src/components/projects/ProjectsGrid.tsx
  src/components/ui/instruments/InstrumentSelect.tsx
Due: eslint -f mo --fix, prettier --write

feat: 🎸 1817, 1818
  src/app/(...logged-in)/projects/[id]/page.tsx
  tsconfig.json
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Added project search
  bun.lockb
  package.json
  src/app/(...logged-in)/projects/page.tsx
  src/app/api/projects/route.ts
  src/components/projects/ProjectsGrid.tsx
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Added new filter for manager page
  src/app/(...logged-in)/manager/page.tsx
  src/app/api/manager/orders/route.ts
Due: eslint -f mo --fix

fix: 🐛 Align in projects
  src/app/(...logged-in)/projects/[id]/[agent]/page.tsx
  src/app/(...logged-in)/projects/[id]/page.tsx
Due: eslint -f mo --fix

fix: 🐛 Fitler name in project
  src/app/(...logged-in)/projects/page.tsx
Due: eslint -f mo --fix

feat: 🎸 Added comment to commercial offer
  src/app/(...logged-in)/projects/[id]/[agent]/page.tsx
  src/types/projects/CommercialOffer.ts
Due: eslint -f mo --fix

feat: 🎸 Added server changer
  src/app/api/data/[...slug]/route.ts
  src/app/api/manager/agents/route.ts
  src/app/api/manager/orders/[id]/route.ts
  src/app/api/manager/orders/route.ts
  src/app/api/manager/regions/route.ts
  src/app/api/projects/[id]/[agentid]/route.ts
  src/app/api/projects/[id]/route.ts
  src/app/api/projects/route.ts
  src/app/api/routes/[id]/route.ts
  src/app/api/routes/route.ts
  src/app/api/status/route.ts
  src/app/api/user/[id]/1c/main/route.ts
  src/app/api/users-1c/route.tsx
  src/components/AppShell.tsx
  src/components/ServerSwitch.tsx
  src/libs/axios.ts
  src/libs/fetcher.ts
  src/types/Server.ts
Due: eslint -f mo --fix

feat: 🎸 Fix mobile view for project commercial offers
  bun.lockb
  package.json
  src/app/(...logged-in)/projects/[id]/[agent]/page.tsx
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Change font size in commercial offer
  src/app/(...logged-in)/projects/[id]/[agent]/page.tsx
Due: eslint -f mo --fix

feat: 🎸 Optimized for mobile view
  src/app/(...logged-in)/projects/[id]/[agent]/page.tsx
Due: eslint -f mo --fix

feat: 🎸 Fixed sorting
  bun.lockb
  package.json
Due: prettier --write

fix: 🐛 Keyboard in projects
  src/components/projects/CreateNewMessage.tsx
Due: eslint -f mo --fix

fix: 🐛 Device scale
  src/app/layout.tsx
Due: eslint -f mo --fix

feat: 🎸 Added task complete status
  src/app/api/routes/[id]/route.ts
  src/components/routes/route/tabs/TasksTab.tsx
  src/types/route/Task.ts
Due: eslint -f mo --fix

feat: 🎸 Updated UI
  src/components/routes/route/tabs/TasksTab.tsx
Due: eslint -f mo --fix

feat: 🎸 Updated task list
  src/components/routes/route/RouteClient.tsx
  src/components/routes/route/tabs/TasksTab.tsx
  src/types/route/Task.ts
Due: eslint -f mo --fix

feat: 🎸 Added important star
  src/components/routes/route/tabs/TasksTab.tsx
Due: eslint -f mo --fix

feat: 🎸 Hidden data in task list
  src/components/routes/route/tabs/TasksTab.tsx
Due: eslint -f mo --fix

test: 💍 Updated routes filter
  src/app/(...logged-in)/routes/page.tsx
Due: eslint -f mo --fix

Path conditions:
  eslint -f mo --fix: any of: *.{js,ts,jsx,tsx,mjs}
  prettier --write: any of: *.{json,md,css}
