Repository skloresurs/my-skloresurs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f mo --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,jsx,tsx,mjs}": "eslint -f mo --fix",
  "*.{json,md,css}": "prettier --write"
}

fix: 🐛 lint-staged typescript
  .lintstagedrc.js
  .lintstagedrc.json
  src/app/api/users/route.ts
  src/components/PermissionBadge.tsx
  src/components/admin/users/UserSecurityTab.tsx
  src/components/manager/agents/AgentItem.tsx
  src/components/routes/Tabs/StationsTab.tsx
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Added filters for routes
  package.json
  pnpm-lock.yaml
  src/app/(...logged-in)/manager/page.tsx
  src/app/(...logged-in)/routes/page.tsx
  src/app/api/routes/route.ts
  src/components/manager/ManagerInstruments.tsx
  src/components/routes/Route.tsx
  src/components/routes/RouteStatusBadge.tsx
  src/components/routes/StatusBadge.tsx
  src/components/routes/Tabs/MainTab.tsx
  src/components/ui/instruments/InstrumentPopover.tsx
  src/components/ui/instruments/InstrumentReset.tsx
  src/components/ui/instruments/InstrumentResetOne.tsx
  src/components/ui/instruments/InstrumentSearch.tsx
  src/components/ui/instruments/InstrumentSwitch.tsx
  src/components/ui/instruments/InstrumentsBar.tsx
  src/data/default-route.ts
  src/types/Route.ts
Due: eslint -f mo --fix, prettier --write

refactor: 💡 Changed description for filter
  src/app/(...logged-in)/routes/page.tsx
Due: eslint -f mo --fix

fix: 🐛 Replced switch to checkbox
  src/app/(...logged-in)/manager/page.tsx
  src/app/(...logged-in)/routes/page.tsx
  src/components/ui/instruments/InstrumentCheckbox.tsx
Due: eslint -f mo --fix

feat: 🎸 Added google maps button to stations
  src/components/routes/Tabs/StationsTab.tsx
Due: eslint -f mo --fix

feat: 🎸 Added google maps button to all route with waypoints
  src/components/routes/Tabs/StationsTab.tsx
Due: eslint -f mo --fix

feat: 🎸 Changed group in stations
  src/components/routes/Route.tsx
  src/components/routes/Tabs/StationsTab.tsx
  src/libs/maps-api.ts
  src/types/Route.ts
Due: eslint -f mo --fix

fix: 🐛 Added tel link to routes
  src/components/routes/Tabs/MainTab.tsx
  src/components/routes/Tabs/StationsTab.tsx
  src/data/default-route.ts
  src/types/Route.ts
Due: eslint -f mo --fix

feat: 🎸 Added tel links
  src/components/routes/Route.tsx
  src/components/routes/TabCountBadge.tsx
  src/components/routes/Tabs/MainTab.tsx
  src/components/routes/Tabs/StationsTab.tsx
  src/components/ui/TelephoneLink.tsx
Due: eslint -f mo --fix

feat: 🎸 Changed tel link to button and added to orders
  src/components/manager/orders/OrderItem.tsx
  src/components/manager/orders/tabs/MainTabOrder.tsx
  src/components/routes/Tabs/MainTab.tsx
  src/components/routes/Tabs/StationsTab.tsx
  src/components/ui/DrawerItem.tsx
  src/components/ui/TelephoneButton.tsx
  src/components/ui/TelephoneLink.tsx
  src/data/default-manager-order.ts
  src/types/ManagerOrder.ts
  src/types/Route.ts
  src/types/User1CData.ts
Due: eslint -f mo --fix

feat: 🎸 Added grouping for pyramids
  package.json
  pnpm-lock.yaml
  src/components/routes/Tabs/MainTab.tsx
  src/components/routes/Tabs/PyramidsTab.tsx
  src/components/routes/Tabs/StationsTab.tsx
  src/components/ui/TelephoneButton.tsx
  src/data/default-route.ts
  src/libs/plurals.ts
  src/types/Route.ts
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Removed missingSuspenseWithCSRBailout
  next.config.mjs
  src/components/Providers.tsx
  tsconfig.json
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Changed badge in tab route
  src/components/routes/TabCountBadge.tsx
Due: eslint -f mo --fix

feat: 🎸 Added group by address to pyramids
  package.json
  src/components/routes/Tabs/PyramidsTab.tsx
  src/components/ui/DrawerItem.tsx
  src/components/ui/TelephoneButton.tsx
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Added new filter for orders
  src/app/(...logged-in)/manager/page.tsx
  src/app/api/manager/order/route.ts
  src/components/manager/orders/tabs/MainTabOrder.tsx
Due: eslint -f mo --fix

feat: 🎸 Added google maps button for pyramids
  src/components/routes/Tabs/PyramidsTab.tsx
  src/components/ui/OutsideLinkButton.tsx
Due: eslint -f mo --fix

feat: 🎸 Added redirect page for roles
  public/manifest.json
  src/app/(...logged-in)/(...all-permissions)/start/page.tsx
  src/app/(...logged-in)/routes/page.tsx
  src/components/routes/Tabs/StationsTab.tsx
  src/components/ui/OutsideLinkButton.tsx
  src/types/Route.ts
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Remove tel button in agent
  src/components/routes/Tabs/StationsTab.tsx
Due: eslint -f mo --fix

fix: 🐛 Google maps button always enable
  src/components/routes/Tabs/StationsTab.tsx
Due: eslint -f mo --fix

feat: 🎸 Added filter by bill
  src/app/(...logged-in)/manager/page.tsx
  src/app/api/manager/order/route.ts
  src/components/manager/orders/tabs/MainTabOrder.tsx
Due: eslint -f mo --fix

style: 💄 Changed order responsible label
  src/components/manager/orders/tabs/MainTabOrder.tsx
Due: eslint -f mo --fix

feat: 🎸 Hide filter in empty bill
  src/components/manager/orders/tabs/MainTabOrder.tsx
Due: eslint -f mo --fix

feat: 🎸 Changed count for stations
  src/components/routes/Route.tsx
  src/components/routes/TabCountBadge.tsx
  src/components/routes/Tabs/StationsTab.tsx
  src/libs/station-group.ts
Due: eslint -f mo --fix

feat: 🎸 Removed telephone button for pyramids
  src/components/routes/Tabs/PyramidsTab.tsx
Due: eslint -f mo --fix

feat: 🎸 Added round for station amount and weight
  src/app/(...logged-in)/manager/page.tsx
  src/components/routes/Tabs/StationsTab.tsx
Due: eslint -f mo --fix

style: 💄 Changed label in stations
  src/components/routes/Tabs/StationsTab.tsx
Due: eslint -f mo --fix

style: 💄 Changed label in filter
  src/app/(...logged-in)/manager/page.tsx
Due: eslint -f mo --fix

style: 💄 Fix missprinted
  src/app/(...logged-in)/manager/page.tsx
Due: eslint -f mo --fix

feat: 🎸 Disable tab badge for 0
  src/components/routes/TabCountBadge.tsx
Due: eslint -f mo --fix

feat: 🎸 Added delete user functional
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/app/api/user/[id]/route.ts
  src/components/admin/users/RemoveUserButton.tsx
  src/components/admin/users/UserPermissionsTab.tsx
  src/components/admin/users/UserSecurityTab.tsx
  src/components/admin/users/Users.tsx
  src/components/profile/ProfileTabInfo.tsx
  src/components/profile/ProfileTabs.tsx
  src/components/ui/ProfileCard.tsx
  src/components/ui/SessionItem.tsx
  src/libs/mutate.ts
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Added city to pyramids
  src/components/routes/Tabs/PyramidsTab.tsx
  src/types/Route.ts
Due: eslint -f mo --fix

fix: 🐛 Fixed DrawerItem layout for mobile
  src/components/ui/DrawerItem.tsx
Due: eslint -f mo --fix

feat: 🎸 Added grouping by permission for admin users list
  src/app/(...logged-in)/admin/users/page.tsx
  src/app/api/users/route.ts
  src/components/admin/users/Users.tsx
  src/components/admin/users/list/RemoveUserButton.tsx
  src/components/admin/users/list/UsersGroup.tsx
  src/components/admin/users/list/UsersList.tsx
Due: eslint -f mo --fix

fix: 🐛 Fixed table layout for mobile
  src/components/admin/users/list/UsersGroup.tsx
  src/components/admin/users/list/UsersList.tsx
Due: eslint -f mo --fix

feat: 🎸 Upgraded google maps api
  src/libs/filters.ts
  src/libs/maps-api.ts
  src/libs/mutate.ts
Due: eslint -f mo --fix

feat: 🎸 Added scraping fullname from 1C
  package.json
  pnpm-lock.yaml
  src/app/api/user/[id]/1c/main/route.ts
  src/components/admin/users/list/UsersGroup.tsx
  src/components/admin/users/list/UsersList.tsx
Due: eslint -f mo --fix, prettier --write

fix: 🐛 Fixed layout for big fullname in AppShell
  src/components/AppShell.tsx
Due: eslint -f mo --fix

fix: 🐛 package.json
  package.json
Due: prettier --write

feat: 🎸 Added session counter for users list
  src/app/api/users/route.ts
  src/components/admin/users/list/UsersGroup.tsx
  src/libs/plurals.ts
Due: eslint -f mo --fix
