Repository skloresurs/my-skloresurs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f mo --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,jsx,tsx,mjs}": "eslint -f mo --fix",
  "*.{json,md,css}": "prettier --write"
}

feat: 🎸 Changed AppShell
  src/components/AppShell.tsx
  src/components/PermissionBadge.tsx
  src/components/admin/users/list/UsersList.tsx
  src/components/navbar/NavBar.tsx
  src/components/navbar/NavBarItem.tsx
  src/components/navbar/NavBarItemAdminUsers.tsx
  src/libs/dictionaries.ts
Due: eslint -f mo --fix

fix: 🐛 Fixed routes page redirect in Appshel and on start
  src/app/(...logged-in)/(...all-permissions)/start/page.tsx
  src/components/AppShell.tsx
Due: eslint -f mo --fix

feat: 🎸 Added activity beta
  package.json
  pnpm-lock.yaml
  src/app/(...logged-in)/admin/users/[id]/page.tsx
  src/app/api/user/route.ts
  src/app/layout.tsx
  src/components/Providers.tsx
  src/components/admin/users/UserActivityTab.tsx
  src/libs/db/schema.ts
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Added comment for locked orders
  .eslintrc.json
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/manager/orders/tabs/MainTabOrder.tsx
  src/types/ManagerOrder.ts
Due: eslint -f mo --fix, prettier --write

fix: 🐛 Lint-staged fix
  .eslintrc.json
  .lintstagedrc.js
  package.json
  src/data/default-manager-order.ts
Due: eslint -f mo --fix, prettier --write

chore: 🤖 Upgrade husky config
  .husky/pre-commit
  package.json
Due: prettier --write

feat: 🎸 Replaced ¶ on new line in order tasks
  .lintstagedrc.js
  src/components/routes/Tabs/TasksTab.tsx
  tsconfig.json
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Removed time from route date label
  src/components/routes/Tabs/MainTab.tsx
Due: eslint -f mo --fix

chore: 🤖 Removed unused package
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 🎸 Added bg color for locked order card
  src/components/manager/orders/OrderItem.tsx
Due: eslint -f mo --fix

feat: 🎸 Changed date in order card
  src/components/manager/orders/OrderItem.tsx
Due: eslint -f mo --fix

feat: 🎸 Replaced drawer on page in order
  package.json
  pnpm-lock.yaml
  renovate.json
  src/app/(...logged-in)/layout.tsx
  src/app/(...logged-in)/manager/[id]/page.tsx
  src/app/(...logged-in)/manager/page.tsx
  src/app/api/manager/order/[id]/route.ts
  src/app/api/manager/order/route.ts
  src/components/AppShell.tsx
  src/components/manager/order/OrderClient.tsx
  src/components/manager/order/tabs/MainTabOrder.tsx
  src/components/manager/order/tabs/SpecificationTabOrder.tsx
  src/components/manager/orders/OrderItem.tsx
  src/components/manager/orders/OrdersList.tsx
  src/types/1c/User.ts
  src/types/manager/Order.ts
Due: eslint -f mo --fix, prettier --write

fix: 🐛 Misprinted goods on orders
  src/components/manager/order/tabs/SpecificationTabOrder.tsx
  src/types/manager/Order.ts
Due: eslint -f mo --fix

fix: 🐛 Badge counter for routes
  src/components/routes/route/RouteClient.tsx
Due: eslint -f mo --fix

fix: 🐛 Group by agent in manager orders
  .eslintrc.cjs
  .husky/pre-commit
  .lintstagedrc.cjs
  .prettierignore
  .vscode/settings.json
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/(...logged-in)/(...all-permissions)/profile/page.tsx
  src/app/(...logged-in)/manager/agents/page.tsx
  src/app/(...logged-in)/manager/page.tsx
  src/app/(...logged-in)/routes/page.tsx
  src/app/api/manager/agents/route.ts
  src/components/Providers.tsx
  src/components/manager/ManagerClientPage.tsx
  src/components/manager/agents/AgentItem.tsx
  src/components/manager/agents/AgentsList.tsx
  src/components/manager/orders/OrdersList.tsx
  src/components/profile/ProfileTabInfo.tsx
  src/components/profile/ProfileTabSecurity.tsx
  src/components/profile/ProfileTabs.tsx
  src/components/routes/list/RoutesList.tsx
  src/components/ui/Pagination.tsx
  src/components/ui/TruncateScroll.tsx
  src/components/ui/instruments/InstrumentPopover.tsx
  src/components/ui/instruments/InstrumentRedirectButton.tsx
  src/types/manager/Agent.ts
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Added group by regions in manager orders
  src/app/(...logged-in)/manager/page.tsx
  src/app/(...logged-in)/manager/regions/page.tsx
  src/app/api/manager/regions/route.ts
  src/components/manager/regions/RegionItem.tsx
  src/components/manager/regions/RegionsList.tsx
  src/components/routes/route/tabs/StationsTab.tsx
  src/libs/station-group.ts
  src/types/manager/Region.ts
Due: eslint -f mo --fix

fix: 🐛 Grouped by region in manager orders
  src/app/(...logged-in)/manager/page.tsx
  src/app/api/manager/orders/[id]/route.ts
  src/app/api/manager/orders/route.ts
  src/components/manager/orders/OrdersList.tsx
Due: eslint -f mo --fix

chore: 🤖 Added build test before commit
  .husky/pre-commit
Due: none

fix: 🐛 Order page
  next.config.mjs
  src/components/manager/order/OrderClient.tsx
  tsconfig.json
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Updated phone regexp
  src/components/routes/route/tabs/StationsTab.tsx
  src/libs/regexp.ts
  src/libs/station-group.ts
  src/types/route/RouteData.ts
Due: eslint -f mo --fix

feat: 🎸 Added GPS func
  package.json
  pnpm-lock.yaml
  src/app/(...logged-in)/gps/layout.tsx
  src/app/(...logged-in)/gps/page.tsx
  src/app/api/gps/[id]/route.ts
  src/components/AppShell.tsx
  src/components/admin/users/UserPermissionsTab.tsx
  src/components/gps/GpsTable.tsx
  src/components/gps/GpsTableRow.tsx
  src/env.mjs
  src/libs/axios.ts
  src/libs/db/schema.ts
  src/libs/verify-permission.ts
  src/types/gps/Car.ts
  src/types/gps/CarData.ts
  src/types/gps/GpsData.ts
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Hide id in GPS table
  src/app/(...logged-in)/gps/page.tsx
  src/components/gps/GpsTableRow.tsx
Due: eslint -f mo --fix

feat: 🎸 Upgraded orders grid
  src/components/manager/orders/OrderItem.tsx
  src/components/manager/orders/OrdersList.tsx
  src/types/manager/Agent.ts
  src/types/manager/Finance.ts
  src/types/manager/Goods.ts
  src/types/manager/Order.ts
Due: eslint -f mo --fix

feat: 🎸 Updated grid in orders
  src/components/manager/orders/OrdersList.tsx
  src/libs/theme.ts
Due: eslint -f mo --fix

feat: 🎸 Updated grid in orders
  src/components/manager/orders/OrderItem.tsx
  src/libs/theme.ts
Due: eslint -f mo --fix

feat: 🎸 Added multiple telephone button
  package.json
  pnpm-lock.yaml
  src/components/routes/route/tabs/PyramidsTab.tsx
  src/components/routes/route/tabs/StationsTab.tsx
  src/components/routes/route/tabs/TasksTab.tsx
  src/components/ui/TelephoneButton.tsx
  src/types/1c/User.ts
Due: eslint -f mo --fix, prettier --write

fix: 🐛 Pagination
  src/app/api/manager/orders/route.ts
Due: eslint -f mo --fix

refactor: 💡 Removed console log
  src/app/api/manager/orders/route.ts
Due: eslint -f mo --fix

feat: 🎸 Fixed permissions
  src/libs/verify-permission.ts
Due: eslint -f mo --fix

feat: 🎸 Updated projects page
  bun.lockb
  package.json
  src/components/projects/ProjectsGrid.tsx
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Added post message for projects
  src/app/(...logged-in)/projects/[id]/page.tsx
  src/app/api/projects/[id]/route.ts
  src/components/projects/CreateNewMessage.tsx
Due: eslint -f mo --fix

feat: 🎸 Updated projects
  src/app/(...logged-in)/projects/[id]/page.tsx
  src/components/projects/CreateNewMessage.tsx
  src/components/projects/ProjectCard.tsx
  src/types/projects/Message.ts
Due: eslint -f mo --fix

feat: 🎸 1783
  .husky/pre-commit
  bun.lockb
  package.json
  src/components/projects/CreateNewMessage.tsx
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Added Expired Notification badge for projects
  bun.lockb
  package.json
  src/app/(...logged-in)/projects/[id]/page.tsx
  src/components/AppShell.tsx
  src/components/navbar/NavBarItemProjects.tsx
  src/components/projects/CreateNewMessage.tsx
  src/components/projects/ProjectCard.tsx
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Updated projects page
  biome.json
  bun.lockb
  drizzle.config.ts
  drizzle/meta/_journal.json
  package.json
  src/app/(...logged-in)/projects/[id]/page.tsx
  src/components/projects/CreateNewMessage.tsx
  src/components/projects/ProjectCard.tsx
Due: eslint -f mo --fix, prettier --write

feat: 🎸 CommecrialOffer in projects
  .idea/.gitignore
  .idea/biome.xml
  .idea/jsLibraryMappings.xml
  .idea/modules.xml
  .idea/my-skloresurs.iml
  .idea/vcs.xml
  bun.lockb
  package.json
  src/app/(...logged-in)/projects/[id]/[agent]/page.tsx
  src/app/(...logged-in)/projects/[id]/page.tsx
  src/app/api/projects/[id]/[agentid]/route.ts
  src/types/projects/CommercialOffer.ts
Due: eslint -f mo --fix, prettier --write

feat: 🎸 Added round for values in commrcial offers
  src/app/(...logged-in)/projects/[id]/[agent]/page.tsx
Due: eslint -f mo --fix
